
label{
    display: block;
    margin-bottom: 20px;
    margin-left: 5px;
}
input{
    display: block;
    margin-bottom: 20px;
    margin-left: 5px;
}
.grid{
   
    display:inline-block;
    border: 1px solid black;
    margin: 0%;
}
.row{
    height: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid aqua;
    padding: 0% 0% 0% 0%;
    grid-column: inherit;
 
}
.cell{
    display: inline-block;
    padding: 100;
    border: 1px solid purple;
    height: 10px;
    width: 10px;
    margin:0% 0% 0% 0%;
}
#content{
    display:grid;
    grid-template-rows: repeat(100, 1.5fr);
    grid-template-columns: repeat(100, 1.5fr);
}
#tie-up-wrapper{
    grid-column:52/57;
    grid-row: 52/57;
    background-color: mediumseagreen;

   
}
#shafts-wrapper{
    grid-column:1/51;
    grid-row: 52/57;
    background-color: darkkhaki;

}
#thredles-wrapper{
    grid-column:52/57;
    grid-row: 1/51;
    background-color: coral;


}
#draft-wrapper{
    grid-column:1/51;
    grid-row: 1/51;
    background-color: rgb(129, 129, 234);

}