@use 'variables.scss';

@mixin baseText{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: center;
}

@mixin buttonOrLink{
    border: none;
    cursor: pointer;
    background-color:variables.$accent-color1;
    color: variables.$secondary-color;
    @include baseText;
    white-space: nowrap;

    padding: 0.5rem;
    &:hover{
        background-color: rgb(118, 56, 141);
    }
}
@mixin text-area{
    background-color: variables.$secondary-color;
    color: variables.$accent-color1;
    border: variables.$thin-border;
}
@mixin underline-input{
    border-width: 1px;
    border-color: rgb(124, 119, 119);
    border-style: none none solid none;
}
@mixin form-header{
    margin:0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: variables.$thin-border;
    margin-bottom: 0.5rem;
}

@mixin nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
@mixin nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    padding: 1.5rem;
}

@mixin flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

@mixin rounded{
    border-radius: 2px;
    border: variables.$base-color solid 1px;
}

@mixin flexRow{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-content: center;
    align-items: center;
    justify-content: center;

}
