@use 'variables.scss';

@mixin baseText{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;

}

@mixin buttonOrLink{
    border: none;
    //background-color: inherit;
    cursor: pointer;
    background-color:variables.$accent-color1;
    color: variables.$secondary-color;

    padding: 0.5rem;
    &:hover{
        background-color: rgb(118, 56, 141);
    }
}
@mixin text-area{
    background-color: variables.$secondary-color;
    color: variables.$accent-color1;
    border: variables.$thin-border;
}

@mixin flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

@mixin flexRow{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-content: center;
    align-items: center;
    justify-content: center;

}
